.savedCurrencies {
  :global .basic-single {
    margin: 1rem 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 1rem 0;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 8px 0px;
      padding: 5px;
      border-radius: 3px;
      transition: all 0.2s linear;

      img {
        width: 2em;
      }

      button {
        opacity: 0;
        margin: 0;

        &:hover,
        &:focus-visible {
          background-color: white;
        }
      }

      span {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding-left: 1rem;
      }

      &:hover,
      &:focus-visible {
        button {
          opacity: 1;
        }

        background-color: #a1b7c2;
      }

      div {
        display: flex;
        align-items: center;
      }
    }
  }
}
