@import '../../scss/variables.scss';

.home {
  min-width: 50%;
  max-width: 90%;

  button {
    float: right;
  }

  h1 {
    font-size: 2.8rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;

    img {
      margin-right: 1rem;
      width: 6rem;
    }
  }

  :global .basic-single {
    margin: 4em 0 0;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
      margin: 0.4rem 0;
      padding: 0.95rem;
      transition: all 0.18s ease-in-out;

      img {
        width: 1.5rem;
        margin-right: 10px;
      }

      &:hover {
        background-color: lighten(darkslateblue, 40%);
        .switchUp {
          opacity: 1;
        }
      }

      &.showSwitchUp {
        background-color: lighten(darkslateblue, 40%);
        .switchUp {
          opacity: 1;
        }
      }

      .switchUp {
        margin-left: 1rem;
        font-size: 0.7rem;
        padding: 2px 5px;
        background-color: white;
        color: black;
        opacity: 0;
        transition: all 0.18s ease-in-out;
      }
    }
  }

  @media #{$small} {
    h1 {
      display: block;
      font-size: 2rem;
      margin: 3rem 0 2rem;

      img {
        display: block;
      }
    }
  }
}
