@import '../../scss/variables.scss';

.header {
  position: fixed;
  top: 0;
  right: 0;
  color: $darksteelblue;
  font-weight: 600;
  font-size: 1.1em;
  padding: 1.3em 2.1em 0.3em 2.1em;
  background: rgba(white, 0.5);

  button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
    display: none;

    &:hover {
      opacity: 0.5;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 4px;
    &:hover {
      text-decoration: underline;
    }
  }

  :global a.active {
    background-color: lighten(lightblue, 15%);
  }
}

@media #{$small} {
  .header {
    width: 100%;
    position: absolute;
    background-color: rgba(white, 0.85);
    padding: 4rem 1rem 0;

    button {
      display: block;
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: darken(steelblue, 10%);
      cursor: pointer;
    }

    nav {
      display: none;
      flex-direction: column;
      align-items: flex-end;
      margin-right: auto;
      color: white;

      a {
        margin: 4px 0;
      }
    }

    &.expanded {
      background: $darksteelblue;
      padding-bottom: 1.4em;

      :global a.active {
        color: $darksteelblue;
      }

      nav {
        display: flex;
      }

      button {
        color: white;
      }
    }
  }
}
