.authContainer {
  min-width: 40%;
  max-width: 100%;

  h1 {
    font-size: 1.17rem;
    margin: 1rem 0;
  }

  label {
    margin-bottom: 5px;
    font-size: 0.8em;
  }

  button {
    margin: 5px 0;
  }

  input {
    padding: 8px;
    border: 0 !important;
    outline: 0 !important;
    background-color: #dedede;
  }

  p {
    font-size: 0.8em;
    text-align: center;
    font-weight: 300;
    a {
      margin: 0 0 0 5px;
      font-weight: 400;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        text-decoration: underline;
      }
    }
  }
}
